<app-navbar></app-navbar>

<!-- Barra de busqueda-->
<div class="container ">
  <div class="row justify-content-center">
    <div class="col-6 p-2">
      <br>
      <form class="d-flex input-group w-auto">
        <input type="search" class="form-control rounded" placeholder="Buscar un producto" aria-label="Search"
          aria-describedby="search-addon" [(ngModel)]="patron" name="buscarProducto" />
        <span class="input-group-text border-0" id="search-addon">
          <i class="fas fa-search"></i>
        </span>
      </form>
    </div>
  </div>
</div>



<div class="row">
<!-- grid Productos-->
  <!-- Para usuarios-->
  <div class="col-9" *ngIf="rol=='user'">    
    <div class="container">
      <div class="row">
        <ng-container *ngFor="let producto of productos | async">
          <div class="col-4 p-3" *ngIf="buscarProducto(producto.nombre)">
            <div class="card">
              <img src="{{BASE_URL}}/productos/{{producto.imagen}}" class="card-img-top" alt="Fissure in Sandstone" style="height: 20em;" />
              <div class="card-body">
                <h5 class="card-title">{{ producto.nombre }}</h5>
                <p class="card-text">{{ producto.detalle }} a {{ producto.valor }} $ la unidad </p>
                <a class="btn btn-success" (click)="anadirAlCarrito(producto.idProducto,producto.nombre,producto.valor)">Añadir <i class="fas fa-cart-shopping"></i></a>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- Para admin-->
  <div class="col-12" *ngIf="rol=='admin'">    
    <div class="container2">
      <div class="row">
        <ng-container *ngFor="let producto of productos | async">
          <div class="col-3 p-3" *ngIf="buscarProducto(producto.nombre)">
            <div class="card">
              <img src="{{BASE_URL}}/productos/{{producto.imagen}}" class="card-img-top" alt="Fissure in Sandstone" style="height: 20em;" />
              <div class="card-body">
                <h5 class="card-title">{{ producto.nombre }}</h5>
                <p class="card-text">{{ producto.detalle }} a {{ producto.valor }} $ la unidad </p>
                <a class="btn btn-info" [routerLink]="['/productos/editar/', producto.idProducto]">Editar <i class="fas fa-pen"></i></a>
                <a class="btn btn-danger" data-mdb-toggle="modal" data-mdb-target="#eliminarProductoModal" (click)="setProductoBorrar(producto.idProducto)">
                  Borrar <i class="fas fa-trash-can"></i></a>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>


  <!--- Carrito de compras -->
  <div class="col-3 " *ngIf="rol=='user'">
    <br>
    <div class="sticky-top">
      <h4>Carrito de compras</h4>
      <table class="table table-striped">
        <tbody>
          <tr *ngFor="let p of carrito" class="">
            <td class=""><small>{{p.nombre}}</small></td>
            <td class=""><small>{{p.valor}}$ x{{p.modelo.cantidadProducto}}</small></td>
            <!--<td class=""><small>x{{p.modelo.cantidadProducto}}</small></td>-->
            <td class=""><small>{{p.valor*p.modelo.cantidadProducto}}$</small></td>
            <td class="">
              <div class="btn-group1" role="group" aria-label="Basic example">
                <button type="button" (click)="masUno(p.idProducto)"
                  class="btn btn-success btn-floating btn-sm">+</button>
                <button type="button" (click)="menosUno(p.idProducto)"
                  class="btn btn-primary btn-floating btn-sm">-</button>
              </div>
            </td>

          </tr>
          <tr>
            <td></td>

            <td></td>
            <td><small>{{totalCarrito}} $</small></td>
            <td><button type="button" class="btn btn-danger btn-sm" (click)="vaciarCarrito()">Vaciar <i class="fas fa-trash-can"></i></button></td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-success" data-mdb-toggle="modal" data-mdb-target="#comprarModal" *ngIf="!idPedido">
        Comprar <i class="fas fa-dollar-sign"></i>
      </button>
      <button class="btn btn-warning" data-mdb-toggle="modal" data-mdb-target="#editarComprarModal" *ngIf="idPedido" [disabled]="pedidoProcesado">
        Actualizar <i class="fas fa-pen"></i>
      </button>
      <button class="btn btn-primary" *ngIf="idPedido" [routerLink]="['/pedidos']">
        Volver <i class="fas fa-circle-arrow-left"></i>
      </button>
    </div>

  </div>
</div>



<!-- Modales -->
<!-- Modal confirmar compra -->
<div class="modal fade" id="comprarModal" tabindex="-1" aria-labelledby="comprarModalLabel" aria-hidden="true"
  *ngIf="rol=='user'">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="comprarModalLabel">Confirmar pedido</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p *ngIf="totalCarrito!=0">¿Está seguro que quiere confirmar la compra?</p>
        <p *ngIf="totalCarrito==0">No hay productos en el carrito</p>
      </div>
      <div class="modal-footer">
        <button type="button" *ngIf="totalCarrito!=0" class="btn btn-success" data-mdb-dismiss="modal"
          (click)="comprar()" data-mdb-toggle="modal" data-mdb-target="#comprarConfirmadaModal">
          Comprar <i class="fas fa-dollar-sign"></i>
        </button>        
        <button type="button" class="btn btn-primary" data-mdb-dismiss="modal">Cerrar <i class="far fa-circle-xmark"></i></button>
      </div>
    </div>
  </div>
</div>


<!-- Modal confirmar modificar pedido -->
<div class="modal fade" id="editarComprarModal" tabindex="-1" aria-labelledby="editarComprarModalLabel" aria-hidden="true"
  *ngIf="rol=='user'">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editarComprarModalLabel">Modificar pedido</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p *ngIf="totalCarrito!=0">¿Está seguro que quiere modificar el pedido compra?</p>
        <p *ngIf="totalCarrito==0">No hay productos en el carrito</p>
      </div>
      <div class="modal-footer">        
        <button type="button" *ngIf="totalCarrito!=0" class="btn btn-warning" data-mdb-dismiss="modal"
          (click)="actualizarPedido()">
          Actualizar <i class="far fa-circle-check"></i>
        </button>
        <button type="button" class="btn btn-primary" data-mdb-dismiss="modal">Cerrar <i class="far fa-circle-xmark"></i></button>
      </div>
    </div>
  </div>
</div>



<!-- Modal compra exitosa -->
<div class="modal fade" id="comprarConfirmadaModal" tabindex="-1" aria-labelledby="comprarConfirmadaModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="comprarConfirmadaModalLabel">Compra Exitosa</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Compra realizada con exito, podras ver el estado de tu compra en la pestaña de pedidos
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-mdb-dismiss="modal">
          Ok <i class="far fa-circle-check"></i>
        </button>
      </div>
    </div>
  </div>
</div>



<!-- Modal confirmar eliminar producto -->
<div class="modal fade" id="eliminarProductoModal" tabindex="-1" aria-labelledby="eliminarProductoModalLabel"
aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="eliminarProductoModalModalLabel">Eliminar Producto</h5>
      <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      Esta operación es irreversible. ¿Está seguro de que desea eliminar el producto?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-mdb-dismiss="modal" (click)="borrarProducto()">
        Confirmar <i class="far fa-circle-check" ></i>
      </button>      
      <button type="button" class="btn btn-primary" data-mdb-dismiss="modal">Cancelar <i class="far fa-circle-xmark"></i></button>
    </div>
  </div>
</div>
</div>